* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial;
}
.container {
  width: 570px;
  height: 570px;
  background-image: url(../img/bg.png);
  margin: auto;
  padding-left: 125px;
  padding-top: 100px;
}
form {
  width: 320px;
  height: 370px;
  background-color: #fff;
  border: 1px solid #cfdede;
  padding-left: 30px;
  padding-right: 30px;
}
form .create {
  color: #fff;
  width: 148px;
  height: 24px;
  background-color: #01b3b3;
  text-align: center;
  margin-top: -3px;
  box-shadow: 1px 1px 2px #999;
  margin-bottom: 31px;
}
form .create p {
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
}
form label,
form input,
form button {
  display: block;
  width: 100%;
}
form label {
  margin-top: 17px;
  font-size: 12px;
  font-weight: bold;
}
form label span {
  color: #01b3b3;
}
form input {
  border: 1px solid #cfdede;
  background-color: #ebf4f4;
  height: 32px;
  margin-top: 13px;
  background-image: url(../img/bg.png);
  padding-left: 15px;
  font-style: italic;
  font-weight: lighter;
  font-size: 12px;
}
form button {
  background: linear-gradient(to top, #01b3b3, #01c5c5);
  height: 45px;
  margin-top: 33px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: #06bfbf;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #d9d9d9;
  line-height: 45px;
}
